
$border: 3px solid black;
$box : -1px 1px 0 4px black;
$flex: flex;
$color: darkblue;
$new-color: white;
$red: 0;
$blue: 184;
$green: 174;
$w: 27rem;


// Align text center
@mixin center-text {
  max-width: 38rem;
  text-align: center;
}

// For little screen
@mixin rezise {

  #container {

    #result {
      width: 27rem;
    }

    button {
      max-width: 5rem;
    }

  }

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#container {
  @include center-text;
  border: $border;
  background-color: darkseagreen;
  margin: 5% auto auto;
  display: $flex;
  flex-direction: column;
  align-items: center;

    #result {
      position: absolute;
      display: $flex;
      justify-content: left;
      align-items: flex-start;
      padding: 1rem;
      border: $border;
      background: transparentize(gainsboro,0.3);
      width: $w;
      height: 6rem;
      margin-top: 7px;
      font-size: 2.5rem;

      &:hover {
        box-shadow: $box;
      }

    }

    #calculator {
      margin-top: 7rem;

      button {
        background: gainsboro;
        width: 6rem;
        text-align: center;
        font-weight: normal;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-left: 0.5rem;

        &:hover {
          background: adjust-color($color, $red:0, $green:174, $blue:184);
          color: $new-color;
          font-weight: bold;
          box-shadow: $box;
        }

        &::before {
          background: lighten(purple,15%);
          color: $new-color;
          font-weight: bold;
        }
      }

    }

    #other {
      margin: 1rem;
      font-weight: bold;
      text-align: center;

      button {
        background: gainsboro;
        width: 6rem;
        padding: 3px;
        margin-left: 1rem;

        &:hover {
          background: adjust-color($color, $red:0, $green:174, $blue:184);
          color: $new-color;
          font-weight: bold;
          box-shadow: $box;
        }

        &::before {
          background: lighten(purple,25%);
          color: $new-color;
          font-weight: bold;
        }

      }

    }

    #delete:hover {
      background: adjust-color($color, $red:0, $green:174, $blue:184);
      color: $new-color;
      font-weight: bold;
    }

    // Responsive mode
    @media screen and (max-width: 300px) {
      #container {
        width: 100%;

        input {
          max-width: 22rem;
        }

        button {
          max-width: 5rem;
        }
      }
    }

    @media screen and (max-width: 200px) {
      #container {
        width: 100%;

        input {
          max-width: 17rem;
        }

        button {
          max-width: 3.5rem;
        }

        #delete {
          max-width: 4.6rem;
      }
    }
    }

  }










