
$border: 3px solid black;
$box : -1px 1px 0 4px #000000;
$flex: flex;
$color: darkblue;
$new-color: white;
$red: 0;
$blue: 184;
$green: 174;
$w: 27rem;


// Align text center
@mixin center-text {
  width: 100%;
  text-align: center;
}

// For little screen
@mixin rezise {

  #container {

    #result {
      width: 27rem;
    }

    button {
      max-width: 5rem;
    }

  }

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#container {
  @include center-text;
  border: $border;
  background-color: darkseagreen;
  margin: 5% auto auto;
  display: $flex;
  flex-direction: column;
  align-items: center;

    #result {
      position: absolute;
      display: $flex;
      justify-content: center;
      align-items: center;
      border: $border;
      background: #738A87;
      width: $w;
      height: 6rem;
      margin-top: 7px;
      padding: 10px 20px;

      &:hover {
        box-shadow: $box;
      }

      span {
        background: #AAABA2;
        border-radius: 10px;
        font-size: 30px;
        padding: 0 8px;
        text-align: right;
        flex: 1;
      }

    }

    #calculator {
      margin-top: 7rem;

      button {
        background: #AAABA2;
        width: 6rem;
        text-align: center;
        font-weight: normal;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-left: 0.5rem;

        &:hover {
          background: adjust-color($color, $red:0, $green:174, $blue:184);
          color: $new-color;
          font-weight: bold;
          box-shadow: $box;
        }

        &::before {
          background: lighten(purple,25%);
          color: $new-color;
          font-weight: bold;
        }
      }

    }

    #other {
      margin: 1rem;
      font-weight: bold;
      text-align: center;

      button {
        background: #AAABA2;
        width: 6rem;
        padding: 3px;
        margin-left: 1rem;

        &:hover {
          background: adjust-color($color, $red:0, $green:174, $blue:184);
          color: $new-color;
          font-weight: bold;
          box-shadow: $box;
        }

        &::before {
          background: lighten(purple,25%);
          color: $new-color;
          font-weight: bold;
        }

      }

    }

    #delete:hover {
      background: adjust-color($color, $red:0, $green:174, $blue:184);
      color: $new-color;
      font-weight: bold;
    }

    // Responsive mode
    @media screen and (max-width: 1000px) {
      @include rezise
    }

    @media screen and (max-width: 348px) {
      @include rezise
    }

    @media screen and (max-width: 294px){

        #result {
          width: 24rem;
        }

        button {
          max-width: 5rem;
        }

    }

    @media screen and (max-width: 245px){

        #result {
          width: 22rem;
        }

        button {
          max-width: 4.6rem;
        }

    }

    @media screen and (max-width: 225px){

      #result {
        width: 20rem;
      }

      button {
        max-width: 4rem;
      }

    }

  }










